@model ToplivoCodeFirst.Models.PagedCollection<Fuel>
@using ToplivoCodeFirst.Models
@using ToplivoCodeFirst.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Создать новый вид", "Create")
</p>
@using (Html.BeginForm("Index", "Fuels", FormMethod.Get))
{
<fieldset>
    Наименование емкости: @Html.TextBox("strFuelTypeFind", (string)Session["strFuelTypeFind"])
    @Html.Hidden("page", Model.PageInfo.PageNumber)
    <input type="submit" value="Найти" />
</fieldset>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PagedItems.FirstOrDefault().FuelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PagedItems.FirstOrDefault().FuelDensity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.PagedItems) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelDensity)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.FuelID }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.FuelID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.FuelID })
        </td>
    </tr>
}

</table>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x, strTankTypeFind = Session["strTankTypeFind"] }))
</div>

