@{
    ViewBag.Title = "Топливная база";
}

<div class="jumbotron">
    <h1>Топливная база</h1>
    <h2>Последние  @ViewBag.NumberOperations операций</h2>

<table border="1">
    <tr>
        <th>Номер</th>
        <th>Емкость</th>
        <th>Топливо</th>
        <th>Приход (расход)</th>
        <th>Дата</th>

    </tr>

    @foreach (var b in ViewBag.Operations)
            {
        <tr>
            <td>@b.OperationID</td>
            <td>@b.Tank.TankType</td>
            <td>@b.Fuel.FuelType</td>
            <td>@b.Inc_Exp</td>
            <td>@b.Date.ToString("dd.MM.yyyy")</td>


        </tr>
    }
    </table>
</div>

